PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://postgres.rprwaryakgjlenazstpu:M%40tinDb2079@aws-1-ap-south-1.pooler.supabase.com:5432/postgres

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=8f4b7c2d9e1a5f6c3b8d0e7a4c9f1b2d6e8a3c7f5b9d1e4a6c2f8e0b7d3a9c5
